.main-part {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #6439da;
}

.liste-billets {
    display: flex;
    flex-direction: column;
    border: 3px solid #281460;
    font-size: 30px;
    padding: 1em;
    max-width: 365px;
    border-radius: 2rem 2rem 2rem 0;
}

h2 {
    font-size: 2.8rem;
    color: aliceblue;
}

h3 {
    font-size: 2.2rem;
    color: aliceblue;
    margin-top: 0.2rem;
}

p {
    text-decoration: none;
    color: aliceblue;
}

.infos-billet {
    font-size: 1.5rem;
}


.box-billet {
    padding:1rem;
    border: 1px solid aliceblue;
    border-radius: 2rem 2rem 2rem 0;
    background-color: #281460;
    margin-bottom: 1rem;
}

.box-billet:hover {
    background-color: #6439da;
    transition: 0.2s;
}

.left-part {
    margin-top: 5em;
}

.right-part {
    margin-left: 20em;
}

.panier {
    color: #281460;
    font-size: 200%;
    text-decoration: none;
    background: aliceblue;
    text-align: center;
    border-radius: 2rem;
    margin-right:2rem;
    padding: 10px;
}

.panier:hover {
    transition: 0.2s;
    background: #281460;
    color: aliceblue;
}