body{
    margin: 0%;
    background-color: #6439da;
}


main{
    padding: 1rem;
    border-radius: 5rem;
    display: flex;
}
.bloc_groupe{
    background: #281460;
    margin-top: 1rem;;
    border-radius: 5rem;
    flex-basis: 50%;
    margin-left: 2rem;
    padding: 2rem;
}
.bloc_groupe>p{
    color: aliceblue;
    font-size: 200%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}