.main-part {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.liste-groupes {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    font-size: 30px;
    padding: 1em;
    max-width: 365px;
}

h2 {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: #0D4862;
}

.groupe-description {
    font-size: 22px;
}

h3 {
    font-size: 28px;
    color: #238AB6;
}

.box-groupe {
    margin-top: 4em;
}

.groupes-left {
    padding-left: 0.5em;
    border-left: 7px #238AB6 solid;
}

.left-part {
    margin-top: 5em;
}

.search-input-container {
    position: relative;
}

.search-toggle {
    position: absolute;
    top: 30%;
    transform: translateX(-150%);
    cursor: pointer;
    font-size: 20px;
    color: #888;
    padding: 0;
}

.search-toggle.hidden {
    color: #ccc;
}

#toggleSearch {
    width: 20px;
    height: auto;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
    border: 1px solid #111;
    font-size: 16px;
    max-width: 198px;
}

input[type="search"]:focus {
    border: 2px solid #2EBEDD;
    outline: none;
}

@media screen and (max-width: 945px) {
    .main-part {
        flex-direction: column;
    }

    .left-part, .right-part {
        width: 100%;
    }

    .search-input-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-toggle {
        transform: translateX(425%);
    }

    .groupe-title {
        text-align: center;
    }

    .groupes-left {
        text-align: center;
        border-right: 7px #238AB6 solid;
        padding-right: 0.5em;
    }

    .title-h2 {
        text-align: center;
    }

    .sommaire-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1400px) {
    .img-desc {
        flex-direction: column;
        align-items: center;
    }
}
