body{
    overflow-y: hidden;
    overflow-x: hidden;    
    background-color: #281460;
}

#map {
    position: relative;
    margin-top: 1rem;
    width: 18rem;
    height: 19rem;
    background: url('../img/CarteFrance.png');
    background-size: cover;
}

.marker {
    position: absolute;
    color: aliceblue;
}

.searchGroupe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    background-image: url("../img/fondConnexion.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.searchGroupe>input{
    justify-content: center;
    align-items: center;
    height: 30%;
    margin: 0 1rem;
    width: 15%;
    border-radius: 1rem;
}

aside>form{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30rem;
    justify-content: space-between;
    background-color:  #281460;
}

.searchConcert{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.searchDate>input{
    margin-top: 1rem;
}

table{
    margin: 1rem;
    background-color: aliceblue;
    color: #281460;
    border: none;
}

th{
    background-color: #281460;
    color: aliceblue;
    width: 8rem;
}

td{
    text-align: center;
}

#date{
    width: 10rem;
    margin: 0;
}

.submit{
    background-color: #281460;
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 1rem;
    width: 10rem;
}

.submit:hover{
    background-color: aliceblue;
    color: #281460;
    border: 1px solid #281460;
    transition: 0.5s;
}

h2{
    color: aliceblue;
    margin: 0;
    margin-top: 5px;
}