body{
    overflow-y: hidden;
    overflow-x: hidden;    
    background-color: #281460;
}

#map {
    position: relative;
    margin-top: 1rem;
    width: 25vw;
    height: 55vh;
    background: url('../img/CarteFrance.png');
    background-size: cover;
}

.marker {
    position: absolute;
    color: aliceblue;
}

.searchGroupe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    background-image: url("../img/fondConnexion.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.searchGroupe>input{
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: 0 1rem;
    width: 15%;
    border-radius: 5rem;
}

aside>form{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30rem;
    justify-content: space-between;
    background-color:  #281460;
}

.searchConcert{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.searchDate>input{
    margin-top: 2rem;
}

table{
    margin: 2rem;
    background-color: aliceblue;
    color: #281460;
    border: none;
}

th{
    background-color: #281460;
    color: aliceblue;
    width: 16rem;
}

td{
    text-align: center;
}

.submit{
    background-color: aliceblue;
    color: #281460;
    border-radius: 3rem;
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
}

.submit:hover{
    background-color: #6439da;
    color: aliceblue;
    transition: 0.2s;
}

#date{
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin: 0;
    background-color: #281460;
    color: aliceblue;
    border-color: aliceblue;
}

#date:hover{
    background-color: aliceblue;
    color: #281460;
    border: aliceblue;
    transition: 0.5s;
}

h2{
    color: aliceblue;
    font-size: 3rem;
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}