<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/headerPage.css')}}">
        <title>Achat Billet</title>
    </head>
    <body>
        <header>
            {% include "components/headerPage.html" %}
        </header>
        <main>
            <form action="{{ url_for('achat_billet', id_type_billet=id_type_billet) }}" method="post" class="achat-billet">
                <h2>Achat de votre billet</h2>
                <p>Lieu du festival</p>
                <p>{{ form.lieux }}</p>
                <p>Date : {{ form.date }}</p>
                <div class="submit">
                    {{ form.submit }}
                </div>
            </form>
        </main>
    </body>
</html>