<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="connexion">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/ajout_groupe.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/headerPage.css')}}">

        <title>Groupes</title>
    </head>

    <body>
        <header>
            {% include "components/headerPage.html" %}
        </header>
        <main>
            <div class="titre-creer">
                <h3>Créer un hébergement : </h3>
            </div>
            <div class="conteneur-champs-formulaires">
                <form action="{{ url_for('inserer_hebergement') }}"role="form" method="POST" class="form-champ" enctype="multipart/form-data">
                    <section>
                        <div class="form-label-admin">
                            <label for="name" class="label">Nom de l'hébergement : </label>
                            <input type="text" name="nom_hebergement" size="40" id="nom_hebergement" required placeholder="Exemple : airbnb "/>
                        </div>
                        <div class="form-label-admin">
                            <label for="name" class="label">Adresse de l'hébergement : </label>
                            <input type="text" name="adresse_hebergement" size="40" id="adresse_hebergement" required placeholder="Exemple : 123 rue du Grand Chlem "/>
                        </div>
                        <div class="form-label-admin">
                            <label for="name" class="label">Nombre de places : </label>
                            <input type="number" name="nb_places_hebergement" size="40" id="nb_places_hebergement" required placeholder="Exemple : 5 "/>
                        </div>
                        <input type="submit" value="Ajouter" />
                    </section>
                </form>
            </div>
        </main>
    </body>
</html>