<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="connexion">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/headerPage.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/billetterie.css')}}">
        <title>Billetterie</title>
    </head>
    <body>
        <header>
            {% include "components/headerPage.html" %}
        </header>
        <main>
            <div class="main-part">
                <section class="left-part">
                    <a href="#", class="panier">Mon panier</a>
                </section>
                <section class="right-part">
                    <h2 class="title-h2">Mes billets</h2>
                    {% for billet, concert in mes_billets %}
                        <div class="box-billet", id="billet-{{ billet.id_billet }}">
                            <h3>{{ concert.nom_concert }}</h3>
                            <p>{{ billet.date_billet }}</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </main>
    </body>