<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="connexion">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/headerPage.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/billetterie.css')}}">
        <title>Billetterie</title>
    </head>
    <body>
        <header>
            {% include "components/headerPage.html" %}
        </header>
        <main>
            <div class="main-part">
                <section class="left-part">
                    <h2 class="title-h2">Billets en vente</h2>
                    {% for type in types_billets %}
                        <div class="box">
                            <h3>{{ type.nom_type }}</h3>
                            <p>{{ type.prix }}€</p>
                        </div>
                    {% endfor %}
                </section>
                <section class="right-part">
                    <h2 class="title-h2">Mes billets</h2>
                    {% if not connecter %}
                        <p class="no-ticket">Vous n'êtes pas connecté</p>
                    {% elif mes_billets | length == 0 %}
                        <p class="no-ticket">Vous n'avez pas de billet</p>
                    {% endif %}
                    {% for billet, concert in mes_billets %}
                        <div class="box" id="billet-{{ billet.id_billet }}">
                            <h3>{{ concert.nom_concert }}</h3>
                            <p>{{ billet.date_billet }}</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </main>
    </body>