<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="connexion">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/headerPage.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/favoris.css')}}">
    </head>
    <body>
        <header>
            {% include "components/headerPage.html" %}
        </header>
        <main>
            {% if liste_favoris|length == 0 %}
                <p>Aucun groupe ne correspond à votre recherche</p>
            {% endif %}
            {% for groupe in liste_favoris %}
            <a href="{{ url_for('groupe_detail', id_groupe=groupe.id_groupe) }}">
                <div class='bloc_groupe'>
                    <img src="data:image/png;base64,{{ images[groupe.id_groupe] }}" alt="Image du groupe">
                    <p>{{ groupe.nom_groupe }}</p>
                </div>
            </a>
            {% endfor %}
        </main>
    </body>
</html>